@use '../../../styles/essentials';
@use '../../../styles/typography';

@import '../../../styles/essentials';
@import '../../../styles/typography';

.userbadge {
    padding: 1.6rem 1.3rem;

    text-decoration: none;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;

    @include smooth;

    &:hover {
        background-color: hsl(0, 0, 5%);
        border-bottom: 0.3rem solid hsl(0, 0, 18%);
    }

    .avatarwraper {
        display: flex;

        position: relative;
        z-index: 60;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 80;
            border-radius: 100rem;

            background-color: hsla(0, 0%, 10%, 0.2);
        }

        .avatar {
            object-fit: cover;
            object-position: center;
            height: 14rem;
            width: 14rem;
            border-radius: 100rem;
            user-select: none;
            pointer-events: none;

        }

        .verifiedicon {
            z-index: 90;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0.8rem;

            height: 2.4rem;
            width: 2.4rem;
        }

    }


    .details {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        max-width: 14rem;
        overflow: hidden;

        .labels {
            @include font($burnerbold, $r, $none);

            font-weight: 700;
            letter-spacing: 0rem;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
        }

        .displays {
            position: relative;
            text-wrap: wrap;
            font-family: Involve;

            @include font($burnerbold, $r, $none);
            font-size: 1.45rem;
            font-weight: 700;
            letter-spacing: 0rem;
        }
    }
}