@use '../../../../../styles/essentials';
@import '../../../../../styles/essentials';


.companynavwraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .companynav {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        
        .linkchip {
            display: flex;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.27rem;
            color: #a7a7a7;
            font-family: Involve Bold;
            font-weight: 700;
            letter-spacing: 0.03rem;
            @include smooth;
            user-select: none;
    
            &:hover {
                color: hsl(0, 0, 10%);
            }
        }
    
        .active {
            text-decoration: none;
            position: relative;
            font-family: Involve Bold;
            font-weight: 700;
            padding-bottom: 0.8rem;
            color: #222;
            overflow: hidden;
    
            &:hover {
                &::before {
                    transform: translateX(0%);
                }
            }
    
            &::after {
                z-index: 200;
                content: '';
                width: 100%;
                position: absolute;
                bottom: 0;
                height: 0.16rem;
                background-color: hsl(0, 0%, 40%);
            }
    
            &::before {
                @include smooth;
                z-index: 300;
                content: '';
                width: 100%;
                transform: translateX(-100%);
                position: absolute;
                bottom: 0;
                height: 0.16rem;
                background-color: hsl(0, 0%, 80%);
            }
        }
    }
}
