@use '../../styles/essentials';
@use '../../styles/typography';

@import '../../styles/essentials';
@import '../../styles/typography';

.navWithBg {
    background-color: hsl(0, 0%, 100%);
}

.navwraper {
    z-index: 1000;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 8rem;

    // position: fixed;
    // top: 0;
    // left: 0;

    @include smooth;

    .nav {
        z-index: 9999;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 200rem;
        padding: 1.3rem 2rem;


        @media only screen and (max-width: 60rem) {
            padding: 1.8rem 1.2rem;
        }

        .rightwraper{
            display: flex;
            align-items: center;
            gap: 0.6rem;
            flex-direction: row;

            .uploadbtn{
                // padding: 0.64rem;
                height: 5.2rem;
                width: 5.2rem;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20rem;
                cursor: pointer;

                background-color: hsl(0, 0, 11%);
                @include smooth;
                &:hover{
                    background-color: hsl(0, 0, 16%);

                }
                .uploadicon{
                    height: 3rem;
                    width: 3rem;

                    fill: hsl(0, 0, 60%);
                }
            }
            .avatarbtn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
    
                background: none;
                background-color: none;
                cursor: pointer;
    
                border-radius: 10rem;
                position: relative;
                @include smooth;
    
                z-index: 90;
    
    
                &:hover {
                    opacity: 0.8;
                }
    
    
                &::before {
                    content: '';
    
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    height: 100%;
                    width: 100%;
                    border-radius: 10rem;
    
    
                    z-index: 100;
                    background-color: hsla(0, 0%, 10%, 0.1);
                }
    
                .avatar {
                    @include protectmedia;
                    height: 5rem;
                    width: 5rem;
                    border-radius: 10rem;
                    object-fit: cover;
                    object-position: center;
                }
            }
    
        }


        .morebtn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.4rem;
            box-sizing: content-box;
            background: none;
            cursor: pointer;

            &:hover{
                .morelogo{
                    fill: hsl(0, 0, 60%);
                }
            }

            .morelogo {
                @include smooth;
                fill: #fff;
            }
        }


    }
}