.footerwraper{
    display: flex;
    flex-direction: column;
    width: 100%;
    .footercontainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 200rem;
        padding: 4rem;
    }
}