@use '../../styles/essentials';
@use '../../styles/typography';

@import '../../styles/essentials';
@import '../../styles/typography';

.wraper {
    // min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    .topbackground {
        display: flex;
        max-width: 200rem;

        position: absolute;
        top: 0;

        z-index: 10;
        background: linear-gradient(180deg, #978B73 0%, #191919 100%);
        height: 50rem;
        width: 100%;
    }

    .container {
        z-index: 100;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3.6rem;
        justify-content: center;
        margin-top: 8rem;
        width: 100%;
        max-width: 200rem;

        .headingwraper {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 3rem;
            padding: 4rem 4rem;

            .avatarwraper {
                display: flex;
                position: relative;
                overflow: hidden;
                z-index: 60;
                cursor: pointer;
                border-radius: 100rem;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 80;
                    border-radius: 100rem;

                    background-color: hsla(0, 0%, 10%, 0.2);
                }

                .avatar {
                    cursor: pointer;
                    height: 18rem;
                    width: 18rem;
                    @include protectmedia;
                    object-fit: cover;
                    user-select: none;
                }
            }

            .details{
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                .username{
                    font-family: Involve;
                    font-size: 1.6rem;
                    letter-spacing: 0rem;
                    font-weight: 600;
                    opacity: 0.7;
                    text-transform: lowercase;
                }

                .name{
                    font-family: Involve;
                    font-size: 3rem;
                    letter-spacing: -0.02rem;

                    font-weight: 700; 

                    gap: 0.4rem;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    
                    .verifiedicon{
                        height: 2rem;
                        transform: translateY(0.4rem);
                        width: 2rem;
                        object-fit: contain;
                    }
                }
            }

        }

        .accountwraper {
            width: 100%;
            min-height: 50vh;
            padding: 4rem 4rem;
            background: hsla(0, 0%, 10%, 0.3);

            .editham{
                background: none;
                cursor: pointer;
                height: 2.4rem;
                width: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
   
                .hamicon{
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}